<div class="m-2">
    <p-blockUI [target]="formPanel" [blocked]="blockService.getIsBlocked()">
        <div>
            <p-progressSpinner></p-progressSpinner>
        </div>
    </p-blockUI>
    <p-panel header="Fale Conosco" #formPanel styleClass="max-w-screen">
        <form [formGroup]="form!" (ngSubmit)="onSubmit()">
            <div class="field mt-2 p-2">
                <h4 class="mb-2">Nome</h4>
                <input pInputText formControlName="senderName" type="text" class="w-full">
                <small class="block">Este campo é obrigatório</small>
            </div>
            <div class="field mt-2 p-2">
                <h4 class="mb-2">E-mail</h4>
                <input pInputText formControlName="senderEmail" type="email" class="w-full">
                <small class="block">Este campo é obrigatório e deve ser um e-mail</small>
            </div>
            <div class="field mt-2 p-2">
                <h4 class="mb-2">Assunto</h4>
                <input pInputText formControlName="emailSubject" type="text" class="w-full">
                <small class="block">Este campo é obrigatório</small>
            </div>
            <div class="field mt-2 p-2">
                <h4 class="mb-2">Mensagem</h4>
                <textarea pInputTextarea formControlName="emailContent" class="w-full" rows="10"
                    [autoResize]="true"></textarea>
                <small class="block">Este campo é obrigatório</small>
            </div>
            <div class="mt-2 p-2">
                <button pButton [disabled]="isFormInvalid() || loadingService.getIsLoading()" label="Enviar"
                    icon="pi pi-envelope"></button>
            </div>
        </form>
    </p-panel>
</div>
<p-toast position="top-center" (onClose)="hiddenMessage()">
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-column" style="flex: 1">
            <h4>{{ message.summary }}</h4>
            <p>{{ message.detail }}</p>
        </div>
    </ng-template>
</p-toast>